@model WebSigma.Models.Visitor

@{
    ViewBag.Title = "Confirmation";
}


<div class="row justify-content-center">
    <div class="col-lg-4 text-center ">
        <img width="150px" height="150px" src="https://www.roghnu.com/wp-content/uploads/2018/01/Check-Mark-Green-300x300.png" class="img-fluid" />
        <hr />
        <p>Gracias por registrarse. Proximamente recibirá confirmación exitosa de su inscripción.</p>
        <br />
        <p>
            @Html.ActionLink("Enviar otra respuesta", "Index")
        </p>
    </div>

</div>
